<h1>Create User</h1>

<%= form_for @user do |u| %>
<%= u.label :email  %>:
<%= u.text_field :email %>
<%= u.label :password  %>:
<%= u.password_field :password %>
<%= u.label :password_confirmation %>: 
<%= u.password_field :password_confirmation %>
<%= u.submit "Submit!" %>

<% end %>
