<h1>Pictures for Photogur</h1>
<%= link_to("New Picture", "/pictures/new") %>

<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%=picture.artist %> </p>
  <!-- <img src ="<%=picture.url %>" alt="<%=picture.title%>"> -->
  <%= link_to(image_tag(picture.url), '/pictures/#{picture.id}') %>
  <%end%>


----------------------------------------
<h2>These pictures are older than a month </h2>
<% counter= 0 %>
<% @older_than.each do |picture| %>
  <p> <%= picture.title %>, <%=picture.artist %> </p>
  <% counter +=1 %>
  <%end %>

<%= counter %>
