<%= link_to("Back to Pictures","/pictures") %> | <%= link_to("Edit", "/pictures/#{@picture.id}/edit") %> | <%= link_to("Delete", "/pictures/#{@picture.id}", method: :delete, data: {confirm: "You sure you wanna delete this?"}) %>
<p><%=@picture.title%>, <%=@picture.artist %></p>
<%= image_tag(@picture.url) %>
